* {
	margin: 0;
    padding: 0;
	box-sizing: border-box;
}

header, nav, main {
	box-sizing: border-box;
    margin: 0 5%;
	padding: 0 110px;

}

.head-content{
	display: flex;
	flex-direction: row;
}

.sign {
	margin: 10px;
	padding-top: 10px;
}

.sign a {
	text-decoration: none;
}

.soso-title {
	margin: 30px 0;
	padding: 20px 20px 10px 0;
}

.search{
	margin-top: 63px;

	width: 35%;
	height: 40px;
	background-color: #fff;
	border: 2px solid #c583fe;
	border-radius: 5px;
}

.search > input{
	padding: 9px;
	width: 30%;

	font-size: 15px;
	border: 0;
	border-radius: 5px;
	outline: none;
	float: left;
}

.search > button {
	width: 13%;
	height: 100%;

	background-color: #c583fe;
	color: #fff;
	border: 0;
	outline: none;
	float: right;
	cursor: pointer;
}


#menu > ul {
	box-sizing: border-box;
	margin-bottom: 30px;
	padding: 20px 0;

	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

    list-style: none;
	text-align: center;
	border-top: 1px solid #8800ff;
	border-bottom: 1px solid #8800ff;
}

#menu > ul > li {
    
	padding: 0 5px;
	letter-spacing: 5px;
         
}

#menu > ul > li > a {
    text-decoration: none;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 700;
	font-size: 15px;
	color: #444444;   
}

main {
    font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	overflow: hidden;
	outline: none;
	border: 1;
	
	float: left;
	margin-bottom: 80px;
	
	display: flex;
}

section{
	border: 1px solid rgba(134, 133, 133, 0.312);
	padding-left: 10px;
	
	text-align: center;
}

#article1{
	margin-top: 10px;

	text-align: center;
}

#Like-Login {
	box-sizing: border-box;
	float: right;
    padding: 10px;
	margin: 0 0 0 50px;
}

#another-web{
	float: left;
	box-sizing: border-box;
	
    margin: 3% 0%;
	padding: 0 110px;
}

#homepage {
    display: flex;
	justify-content: space-between;
}

#homepage > a{
	padding: 0 62px;
}

footer {
	width: 100%;
	height: 10%;
	margin: 0%;
	float: left;

	background-color: #e7e7e7;
}

footer > div {
	padding-top: 20px;
    width: 100%;
	height: 50px;

	color: #aaaaaa;
	text-align: center;
}

footer > div > #email {
	float: left;
	padding-left: 25%;
	font-size: 13px;
}

footer > div > #cp {
	float: right;
	padding-right: 25%;
	font-size: 13px;
}